@charset "UTF-8";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800);
@import url(http://fonts.googleapis.com/css?family=Yellowtail);


body {
	background-image: url('../img/body-gradient.png'), url('../img/body-texture.gif');
	background-position: top left, top left;
	background-repeat: repeat-x, repeat;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: 400px;
	margin: 0;
	padding: 0;
	text-shadow: 0 1px 0 #641f12;
}

h2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: 800;
	letter-spacing: 4px;
	line-height: 1em;
	margin-top: 0;
	padding-top: 0;
	text-transform: uppercase;
}

h3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: 800;
	line-height: 1em;
	margin-top: 0;
	padding-top: 0;
	text-transform: uppercase;
}

p {
	font-weight: 400;
	line-height: 200%;
	opacity: 0.6;
}

.header {
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
	width: 940px;
}
.header a {
	color: #fff;
	text-decoration: none;
}
.header a:hover {
	color: #c83e25;
}
.header h1 {
	border-right: 1px dashed #333;
	float: left;
	font-size: 18px;
	font-weight: normal;
	height: 30px;
	letter-spacing: 4px;
	margin: 40px 0px 40px 5px;
	padding: 40px 35px 40px 0;
	text-transform: uppercase;
	width: 174px;
}
.header .contact {
	float: left;
	letter-spacing: 2px;
	line-height: normal;
	margin: 80px 0px 80px 40px;
	text-transform:uppercase;
}
.header a.download {
	background-color: #0a0909;
	background-image: url('../img/header-download.png');
	background-position: right center;
	background-repeat: no-repeat;
	border-radius: 40px;
	display: block;
	float: right;
	margin: 76px 0 0 0;
	padding: 10px 14px;
	text-transform: uppercase;
	width: 148px;
}

.content {
	background-image: url('../img/content-gradient.png'), url('../img/dashborder.png'), url('../img/content-texture.gif');
	background-position: top left, bottom left, top left;
	background-repeat: repeat-x, repeat-x, repeat;
	background-color: #c83e25;
	margin: 0 auto;
	overflow: hidden;
	padding: 0 0 25px 0;
	width: 940px;
}
.skill-titles {
	float: left;
	margin: 0px px;
	padding: 50px 40px;
	width: 240px;
}
.skill-titles p {
	color: #fff;
	font-family: 'Yellowtail', cursive;
	font-size: 18px;
	font-weight: normal;
	opacity: 1;
}

.about {
	float: left;
	margin: 0px 0px;
	padding: 50px 80px 0px 2px;
	width: 538px;
}
.about h3 {
	font-size: 18px;
	letter-spacing: 4px;
	margin-top: 0;
	padding-top: 0;
}
.about p {
	opacity: 1;
}
.about > img {
	float: right;
	margin: 0 20px 10px;
	padding: 0px;
}
.about ul {
	border-top: 1px solid #a0321e;
	list-style-type: none;
	margin-top: 30px;
	padding: 25px 0 25px 0;
}
.about li {
	display: inline;
	margin-right: 10px;
	padding: 0px;
}

.content .skill-col1 {
	float: left;
	margin: 0;
	overflow: hidden;
	padding: 0 50px 20px 0;
	width: 270px;
}
.content .skill-col2 {
	float: left;
	margin: 0;
	overflow: hidden;
	padding-right: 35px;
	width: 265px;
}
.skill-col1 > h3,
.skill-col2 > h3 {
	margin-top: 50px;
}

.technicalskills {
	float: left;
	margin: 0px;
	padding: 30px 0 0 0;
	width: 620px;
}

.skillrow {
	border-bottom: 1px solid #b43821;
	float: left;
	margin: 0px;
	padding: 20px 0 15px 0;
	width: 580px;
}
.skilllast {
	border-bottom: 0px;
}
.skill {
	float: left;
	margin: 0px;
	width: 400px;
}
.skill > h3, p {
	margin: 0px;
	padding: 0px;
}
.achievement {
	display: block;
	float: left;
	margin: 0px;
	overflow: hidden;
	padding: 7px 0 0 0;
	width: 180px;
}
.achievement ul {
	float: left;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
.achievement li {
	display: inline;
	margin-right: 6px;
	padding: 0px;
}

.contentlast {
	background-image: url('../img/content-gradient.png'), url('../img/content-texture.gif');
	background-position: top left, top left;
	background-repeat: repeat-x, repeat;
	margin: 0 auto 100px;
	padding: 0 0 30px 0;
}
.schoolyears {
	float: left;
	margin: 0px;
	padding: 0px;
	width: 180px;
}
.schoolyears > p {
	line-height: 170%;
	margin: 0px;
	padding: 0px;
	opacity: 1;
}